#wrapper.scroll-bar
  #type-screen
    #title
      h1 TYPING SPEED TEST
    #top-bar
      #time-box
        #time
          .icon.fa.fa-clock-o
          #time-value 1:00
      #speed-box
        #speed
          #wpm 
            .val 0
          .label WPM
          #average 0 AVG
    #prompt
      #prompt-number 
        h1#prompt-number-value 1
      #prompt-letters
      #prompt-cursor
        #prompt-cursor-trail
    #author
    #input-field
      #input-field-letters
    #bottom-bar
      #reset.button 
        h1 RESET
      #nav-buttons
        #prev.button.disabled
          h1 PREV
        #next.button
          h1 NEXT
    #history
      .title 
        h1 Recent
      .labels
        .label.l1 #
        .label.l2 Test No.
        .label.l3 WPM
      #history-items