#wrapper
  #phone
    #case
      #screen
        #status-bar
          #items
            div(id='wifi' class='item')
              i.fa.fa-wifi
            div(id='battery' class='item')
              i.fa.fa-battery-full
            div(id='time' class='item')
              h1 12:00
        div(id='app' class='scroll-bar')
                     
                     